@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  font-family: 'Roboto Mono', monospace;
}

.pi-icon {
  position: fixed;
  bottom: 15px;
  right: 15px;
  font-size: 1rem;
  color: #F14F84;
  text-decoration: none;
}

div[name="react-console-emulator"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100% - 50px);
  background-color: #000 !important;
  color: #fff;
  font-family: monospace;
  font-size: 1.1rem;
  overflow: hidden;
}

div[name="react-console-emulator__content"]>div>div:not(.response):not(.error):not(#spinner) {
  border-left: 5px solid #F14F84;
  padding-left: 10px;
}

div[name="react-console-emulator__content"] div.error {
  border-left: 5px solid red;
  padding-left: 10px;
}

div[name="react-console-emulator__inputArea"] {
  position: fixed;
  left: 18px;
  display: flex;
  align-items: center;
  bottom: -15px;
  background-color: #000;
}

div[name="react-console-emulator__inputArea"]::before {
  content: ">";
  padding-right: 7px;
  color: #FFF;
  font-size: 1.0rem;
  font-weight: normal;
}

div[name="react-console-emulator__content"]>div {
  margin-bottom: 25px;
}

input[name="react-console-emulator__input"] {
  color: #fff !important;
  font-size: 1.0rem !important;
}