@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}

.pi-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 1rem;
  color: #F14F84;
  text-decoration: none;
}

div[name="react-console-emulator"] {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000 !important;
  color: #fff;
  font-family: monospace;
  font-size: 1.1rem;
  overflow: hidden;
}

div[name="react-console-emulator__content"]>div>div:not(.response):not(.error):not(#spinner) {
  border-left: 3px solid #F14F84;
  padding-left: 10px;
}

div[name="react-console-emulator__content"] div.error {
  border-left: 3px solid #ff4a4a;
  padding-left: 10px;
}

div[name="react-console-emulator__inputArea"] {
  position: fixed;
  left: 20px;
  width: calc(100% - 40px);
  display: flex;
  align-items: center;
}

div[name="react-console-emulator__inputArea"]::before {
  content: ">";
  padding-right: 7px;
  color: #F14F84;
  font-size: 1.25rem;
}

div[name="react-console-emulator__content"]>div {
  margin-bottom: 25px;
}

input[name="react-console-emulator__input"] {
  color: #fff !important;
  font-size: 1.0rem !important;
}